* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url('https://th.bing.com/th/id/R.f1bc62df9ef22b534624b60c4d98eb23?rik=yE7BLBltOO1GCA&pid=ImgRaw&r=0');
    background-size: 1366px 768px;
}

li {
    text-align: center;
    justify-content: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a {
    background-color: #333;
  }

  h1, h2, #h3 {
    text-align: center;
    justify-content: center;
  }

  #h3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  #h1 {
    padding-top: 50px;
  }

  #h3p2 {
    padding-left: 50px;
    font-weight: bold;
  }

  #text {
    background-color: rgba(0, 0, 0, 0.7);
    height: 611px;
  }