* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(83, 82, 83);
}

li {
    text-align: center;
    justify-content: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a {
    background-color: #333;
  }

  h1, h2, #h3 {
    text-align: center;
    justify-content: center;
  }

  #h1 {
    padding-top: 50px;
  }

  #h3p2 {
    font-weight: bold;
  }

  #img {
    border: 5px solid white;
    height: 25%;
    width: 25%;
    float: right;
    margin-right: 250px;
    margin-top: 6.25%;
    transform: rotate(3deg);
  }

  #h1, #h2, #h3, #h3_2, #h3_3, #h2_2 {
    margin-left: 25%;
    margin-right: 50%;
    text-align: center;
  }
